<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head></h:head>

<h:body>

	<h:form id="frm">

		<h:commandButton id="cmdIncrement" value="Increment!"
			action="#{benchmark.increment}">
			<f:ajax execute="@this" render="result loop" />
		</h:commandButton>
		<h:commandButton id="cmdToggleLoop"
			value="Toggle incrementation loop." action="#{benchmark.toggleLoop}">
			<f:ajax execute="@this" render="loop" />
		</h:commandButton>

		<h:panelGrid id="pnlOverheadConfig" columns="4">
			<h:outputLabel value="Number of not rendered overhead components:" />
			<h:inputText id="overheadComponentCount"
				value="#{overheadBean.overheadComponentCount}">
				<f:validateLongRange maximum="5000" minimum="0" />
			</h:inputText>
			<h:commandButton value="apply"
				action="#{overheadBean.applyCompCount}">
				<f:ajax execute="pnlOverheadConfig" render="pnlOverheadConfig" />
			</h:commandButton>
			<h:message for="overheadComponentCount" />
		</h:panelGrid>

		<hr />

		<h:panelGroup id="result">
			<h:outputText value="n: #{benchmark.n}" />
			<br />
			<h:outputText
				value="increments / second: #{benchmark.measurementResult}">
				<f:convertNumber type="number" maxFractionDigits="4"
					minFractionDigits="4" />
			</h:outputText>
		</h:panelGroup>

		<h:panelGroup id="loop">
			<h:outputScript>
			if(#{benchmark.loop}) {
				document.getElementById('frm:cmdIncrement').click();
			}
			</h:outputScript>
		</h:panelGroup>

	</h:form>

	<h:panelGroup id="pnlOverhead" rendered="false" />

</h:body>

</html>
